<h1>Manage your tasks</h1>
<div class="col-md-4">
<form (submit)="addTask($event)">
    <div class="form-group">
        <label for="task">Enter the task description:</label>
        <input [(ngModel)]="title" (keyup.enter)="title=''" type="text" class="form-control" id="task" name="title" placeholder="Short description of your task">
    </div>
    <label>Select storage:</label>
    <div *ngFor="let provider of providers">
        <label>
            <input type="radio" name="gender" [(ngModel)]="storageProvider" (ngModelChange)="changeProvider(provider)" [value]="provider">
            {{provider}}
        </label>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="title===''">Add</button>
    </form>
</div>
<div class="col-md-4 task-list">
        <div class="form-group row" *ngFor="let task of logic.getAll() | orderBy : ['title']">
            <div class="col-md-1">
              <input type="checkbox" class="form-control" [(ngModel)]="task.completed" (click)="toggleCompleted(task.id)" />
                </div>
            <div class="col-md-4">
              <input type="text" class="task-title form-control" [ngClass]="{'checked': task.completed}" [(ngModel)]="task.title"  (ngModelChange)="editTask(task.id, task.title)" />
                </div>
            <div class="col-md-2">
              <span type="submit" class="btn btn-danger" (click)="deleteTask(task.id)">Delete</span>
                </div>
        </div>
</div>

